#
# Generate a personal access token on github
#
GH_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
#
# find your user id at https://caius.github.io/github_id/
#
NB_UID=xxxxxx
NB_USER=xxxxxxxx
#
# These usually don't have to be changed
#
MEM_LIMIT=7030702080
MEM_GUARANTEE=7030702080
CPU_LIMIT=2.0
CPU_GUARANTEE=1.5
CHOWN_HOME=yes
